<nav class="navbar navbar-expand-lg navbar-light my-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand ml-5 text-uppercase" href="#">Admin</a>
      <form class="form-inline text-uppercase ms-auto mr-5">
        <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>&nbsp;
        <a routerLink="/batchmanager"  routerLinkActive="active-link">Batch Manager</a>&nbsp;
        <a routerLink="/newbatchmanager"routerLinkActive="active-link">NewBatch Manager</a>&nbsp;
        <a routerLink="/formcontrol"  routerLinkActive="active-link">FormControls</a>&nbsp;
        <a routerLink=""  routerLinkActive="active-link">Signout</a>&nbsp;
      </form>
    </div>
  </nav>
