<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Course List</h1>
                    <h6>Please select courses and batch</h6>
                </div>
                <form> 
                     <div class="mb-3">
                      <label for="course" class="form-label">Course</label>
                       <select id="course"> 
                        <option value="sel">Select course</option>
                        <option value="fsd">FSD</option>
                        <option value="data">DATA SCIENCE And Mechine Learning</option>
                        <option value="excel">Digital Marketing</option>
                       </select>

                    </div>
                    <div class="mb-3">
                      <label for="batch" class="form-label">Batch</label>
                      <select id="batch"> 
                        <option value="selt">Select batch</option>
                        <option value="batch1">Batch1</option>
                        <option value="batch2">Batch2</option>
                        <option value="batch3">Batch3</option>
                       </select>
                      
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <td>
                    <button class="btn btn-primary" style="cursor:pointer" > Add data</button>&nbsp;
                    <button class="btn btn-primary" style="cursor:pointer"> Delete data</button>
                </td>
               
                   
                
            </form>
        </div>
    </div>
</div>
</div>
                