<section
  id="home"
  class="d-flex flex-column justify-content-center align-items-center">
  

  <div class='card'>
   
    
  <div class='card-header'>
     <h1>New Batchmanager Details</h1> 
  </div> 
  <div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
            
            <tr>
                <td><label> Name</label></td>
                <td><input type="text" name="p_name" ></td>                  
              </tr>  
  
              <tr>
                <td><label>Login</label></td>
                <td><input type="text" name="p_login"></td>                  
              </tr> 
  
              <tr>
                <td> <label> Password</label></td>
                <td><input type="text" name="p_password"></td>                  
              </tr>  
              <tr>
                <td> <label> Course</label></td>
                <td> <select id="course"> 
                  <option value="sel">Select course</option>
                  <option value="fsd">FSD</option>
                  <option value="data">DATA SCIENCE And Mechine Learning</option>
                  <option value="excel">Digital Marketing</option>
                 </select></td>
                <!-- <td><input type="text" name="p_batch"/></td>                   -->
              </tr>  
              <tr>
                <td> <label> Batch</label></td>
                <!-- <td><input type="text" name="p_course"/></td>    
                             -->
                             <td> <select id="batch"> 
                              <option value="selt">Select batch</option>
                              <option value="batch1">Batch1</option>
                              <option value="batch2">Batch2</option>
                              <option value="batch3">Batch3</option>
                             </select>
                            </td>
              </tr>  
               
              <tr>
                <td></td>
                <td><button type="submit" class="btn btn-success">submit</button></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </section>
