<div class="banner">
    
    <h1 class="text-uppercase mb-0 text-shadow">Build your career <br> with ICTAK</h1>
</div>
    <div class="content">
    <a class="btn btn-light text-primary px-5"  routerLink=""> Know More</a>
</div>
<h2>Current Openings</h2>
<div class="container">

    <div class="row"> <div class="col-md-4">
    <div class="card" style="width: 18rem;">
    <a routerLink="/">  <img src="../../assets/images/img3.png" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h3>Certified Specialist In FSD(Mean)</h3>
        <p class="card-text">Cross-discipline web development skills involving front and back end.Take responsibility for the entire experience to make sure it goes smoothly</p>
      </div>
    </div></div>
     <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <a routerLink="/">  <img src="../../assets/images/img4.webp" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h3>DataScience And MachineLearning</h3>
            <p class="card-text">Data Science, as you probably know, covers a wide spectrum of domains and Machine Learning is one of them. Data Science basically comprises various fields and techniques, like Statistics and Artificial Intelligence for Data Analysis to draw meaningful insights.</p>
          </div>
        </div></div>
      <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <a routerLink="/">  <img src="../../assets/images/img5.webp" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <h3>Digital Marketing</h3>
                <p class="card-text">Become a Digital Marketing expert by specialising in Social Media and Content Marketing, Branding, Marketing Analytics and Public Relations. Start your Digital Marketing journey at Rs. 3,256 per month.</p>
              </div>
            </div></div>
            
          
      
    
  