<div class="container batch">
<div class='card-body'>  
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Batch</th>
                <th>Password</th>
                <th>Action
                    
                </th>
                </tr>
                <td>
                    <button class="btn btn-warning" style="cursor:pointer" > Edit</button>&nbsp;
                    <button class="btn btn-danger" style="cursor:pointer"> Delete</button>
                  </td>
                
                  
                
            </thead>
            
               
                

        </table>
    </div>

   </div>         
    
